/* .section {
  width: 800px;
  height: 300px;
  background-color: azure;
  margin: 0 auto;
}

.g-logo {
  width: 31px;
  height: 31.74px;
  justify-content: end;
}
.g-img {
  object-fit: contain;
  width: 100%;
}
.credent {
  align-items: center;
  width: 50%;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 45px;
}
.credent p {
  margin-bottom: 0;
}
.login {
  display: flex;
  margin-left: 75px;
} */

.g-signin2 {
  margin-left: 300px;
}

.well {
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}

a:link {
  text-decoration: none;
  font-family: Station Medium;
  font-size: 24px;
}

h2 {
  text-align: center;
  font-family: Station Medium;
}
