@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
html {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
#content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main-content {
  flex: 1;
}
